.App {
  .select-user-message {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
  }
  span {
    display: flex;
    background-color: #095256;
    margin: 3vh 32vw;
    border-radius: 10px;
    color: wheat;
    padding: 1vh 1vw;
    justify-content: center;
  }
  background-color: #aec6cf;
  h3 {
    margin-left: 3vw;
    margin-top: 6vh;
    display: flex;

    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .header {
    color: white;
    background-color: #095256;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    justify-content: space-between;
    button {
      padding: 2vh 1vw;
      margin-right: 5vh;
      background-color: transparent;
      border: solid 1px white;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      &:hover {
        background-color: white;
        color: #095256;
        transition: ease-in-out 400ms;
      }
    }

    img {
      height: 15vh;
    }
    .user-dropdown {
      position: absolute;
      right: 2.5vw;
      .item {
        border: solid 1px white;
        background-color: white;
        color: #095256;
        padding: 1vh 2.5vw;
        &:hover {
          border: solid 1px #095256;
        }
      }
    }
  }
  img {
    height: 25vh;
    margin-left: 1vw;
  }
  .content {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    &.blurred {
      filter: blur(5px);
      background-color: rgba(9, 82, 86, 0.5);
    }

    .books {
      margin-top: 1vw;
      width: 30vw;
      height: 33vh;
      display: flex;
      background-color: #095256;
      border-radius: 10px;
      color: wheat;
      margin-left: 1.75vw;
      align-items: center;
      margin-bottom: 3vh;
      .text-wrapper {
        margin-left: 1vw;
        line-height: 4vh;
        h1 {
          font-weight: bold;
          font-size: 1.5rem;
        }
        p {
          color: lightgray;
        }
      }
      .button {
        height: 95%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
        border-color: white;
        color: white;
        margin-right: 0.4vw;
        margin-left: 1vw;
        &:hover {
          background-color: white;
          color: #095256;
          transition: ease-in-out 400ms;
        }
        &.rented {
          opacity: 0.5;
          background-color: #aec6cf;
          color: antiquewhite;
        }
      }
    }
  }
}
