.App {
  background-color: #aec6cf;
  h3 {
    margin-left: 3vw;
    margin-top: 6vh;
    display: flex;

    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .header {
    color: white;
    background-color: #095256;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    justify-content: space-between;
    button {
      padding: 2vh 1vw;
      margin-right: 5vh;
      background-color: transparent;
      border: solid 1px white;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      &:hover {
        background-color: white;
        color: #095256;
        transition: ease-in-out 400ms;
      }
    }

    img {
      height: 15vh;
    }
  }
  img {
    height: 25vh;
    margin-left: 1vw;
  }
  .content {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 eşit kolon oluşturur */
    gap: 1vw; /* Aralara boşluk ekler */
    .books {
      margin-top: 1vw;
      width: 30vw;
      height: 33vh;
      display: flex;
      background-color: #095256;
      border-radius: 10px;
      color: white;
      margin-left: 1.75vw;
      align-items: center;
      margin-bottom: 3vh;
      .text-wrapper {
        margin-left: 1vw;
        line-height: 4vh;
        h1 {
          font-weight: bold;
          font-size: 1.5rem;
        }
        p {
          color: lightgray;
        }
      }
      .button {
        height: 95%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
        border-color: white;
        color: white;
        margin-right: 0.4vw;
        margin-left: 1vw;
        &:hover {
          background-color: white;
          color: #095256;
          transition: ease-in-out 400ms;
        }
      }
    }
  }
}
